h2{
    margin-bottom: 5%;
}

.menu{
    margin-left: auto;
    margin-right: auto;
    margin-top: 15vh;
    width: 95vw;
    height: 1500px;
    /* outline: solid 1px white; */
    margin-bottom: 5vh;
}

.menuContainer{
    margin-left: auto;
    margin-right: auto;
    /* outline: solid 1px white; */
    display: block;
    text-align: center;
    width: 80%;
    height: 25%;
    box-sizing: border-box;
}

.shape{
    position: relative;
    box-sizing: border-box;
    /* outline: solid 1px white; */
    display: inline-block;
    text-align: center;
    width: 30%;
    height: 100%;
}

.shape img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* border: solid 1px white; */
    display: block;
    width: 80%;
    height: 65%;
    object-fit: fill;
    transition: width ease 1s;
    transition: heigth ease 1s;
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    opacity: 0.5;
    -webkit-filter: grayscale(75%);
    -moz-filter:    grayscale(75%);
    -ms-filter:     grayscale(75%);
    -o-filter:      grayscale(75%);
    filter: grayscale(75%);
}

.menu a{
    color: white;
    font-weight: bold;
    font-size: large;
    text-align: center;
    overflow: hidden;
}

.shape img:hover{
    width: 90%;
    height: 75%;
    opacity: 1;
    filter: brightness(130%);
}

.shape span{
    position: absolute;
    width: 82%;
    height: 67%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: black;
    clip-path: polygon(30% 0%, 70% 0%, 100% 30%, 100% 70%, 70% 100%, 30% 100%, 0% 70%, 0% 30%);
    z-index: -1;
    opacity: 0.5;
}

.shape img:hover+span{
    width: 92%;
    height: 77%;
    opacity: 1;
}